//fonts
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700&display=swap");

$lato: "Lato", sans-serif;

// $headerHeight: 96px;

// $headerColor: #181818cc;
// $bodyColor: #262626;
$inputHeight: 50px;
$textwhite: #ffffff;
$borderRadius: 20px;
$boxShadow: 0 0 10px #493240;
$backgroundColor: #ffffff33;
$fontSize: 18px;
// $color: #ffc11d;
// $greyColor: darkslategrey;

// $borderRadius: 4px;

// breakpoints
@mixin breakpoint($point) {
  @if $point == lg {
    @media (min-width: 992px) {
      @content;
    }
  } @else if $point == md-only {
    @media (max-width: 991px) {
      @content;
    }
  } @else if $point == sm-only {
    @media (max-width: 576px) {
      @content;
    }
  }
}
