@import "./../../styles/variables.scss";

.weather_area{
    display: flex;
    align-items: center;
    // justify-content:space-between;
    &__icons{
        width: 100px;
        height: 100px;
        background-color:orange;
    }
    &__info_content{
        margin-left: 40px;
        &__text{
            font-size: 28px;
            font-weight: 600;
            color:$textwhite;
            letter-spacing:1.6px;
            line-height: 42px;
        }
        &__city{
            font-size: 42px;
            color: $textwhite;
            font-weight: 700;
            letter-spacing: 2px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
}