@import "./styles/variables.scss";

.app {
  background-image: url(./assets/sunset.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 120px;
  &__undefined_title{
    color:$textwhite;
    text-align: center;
    margin-top: 28px;
    font-size: 22px;
    letter-spacing:.8px;
    font-weight: 200;
    text-shadow: 4px 4px 4px #333;

  }
  &__weather_area {
    max-width: 1180px;
    background-color:#00004699;
    margin: 48px auto 0;
    border-radius: $borderRadius;
    box-shadow: $boxShadow;
    padding: 60px 20px 54px 36px;
    &__gif_area{
      max-width: 200px;
      margin: 0 auto;
    }
  }
}
